{% extends 'base.html.twig' %}

{% block title %}Gestion des contrats{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gestion des contrats</h1>

    <div id="actions" style="margin: 10px;">
        <a href="{{ path('contract/new') }}" class="btn btn-primary" role="button">Nouveau contrat</a>
    </div>

    <table class="table">
        <th scope="col">#</th>
        <th scope="col">Intérimaire</th>
        <th scope="col">Début</th>
        <th scope="col">Fin</th>
        <th scope="col">Statut</th>
        <th scope="col">Actions</th>
        {% for contract in contracts %}
            <tr>
                <td scope="row">{{ contract.id }}</td>
                <td>{{ contract.interim.name }} {{ contract.interim.surname }}</td>
                <td>{{ contract.dateStart | date('d/m/Y') }}</td>
                <td>{{ contract.dateEnd | date('d/m/Y') }}</td>
                <td>{{ contract.status }}</td>
                <td>
                    <a href="{{ path('contract/update', {'contract' : contract.id}) }}" class="btn btn-primary" role="button">Modifier</a>
                    <a href="{{ path('contract/delete', {'contract' : contract.id}) }}" class="btn btn-primary" role="button">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
