{% extends 'base.html.twig' %}

{% block title %}Gestion d'un contrat{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a href="{{ path('contract') }}" class="btn btn-primary" role="button">Retour</a>
    <h1>Gestion d'un contrat</h1>


    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_errors(form.interim) }}
        {{ form_label(form.interim) }} : {{ form_widget(form.interim) }}
        <div id="match"></div>
        <br/>
        {{ form_row(form.dateStart) }}
        <br/>
        {{ form_row(form.dateEnd) }}
        <br/>
        {{ form_errors(form.status) }}
        {{ form_label(form.status) }} : {{ form_widget(form.status) }}
        <br/>
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function(){
            $("#contract_interim").on('keyup', function() {
                var input = $(this).val();
                if ( input.length >= 2 ) {
                    $('#match').html('Chargement...');
                    var data = {input: input};
                    $.ajax({
                        type: "POST",
                        url: "{{ path('interim_search') }}",
                        data: data,
                        dataType: 'json',
                        timeout: 3000,
                        success: function(response){
                            $('#match').html(response.interimList);
                            $('#matchList li').on('click', function() {
                                $('#contract_interim').val($(this).text());
                                $('#match').text('');
                            });
                        },
                        error: function() {
                            $('#match').text('Erreur durant la recherche');
                        }
                    });
                } else {
                    $('#match').text('');
                }
            });
        });
</script>
{% endblock %}