{% extends 'base.html.twig' %}

{% block title %}Statistiques des contrats d'intérim{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Statistiques des contrats d'intérim</h1>

    <div class="alert alert-info">
        Génère un .csv comportant les contrats classés par date sur la période donnée
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.dateStart) }}
        <br/>
        {{ form_row(form.dateEnd) }}
        <br/>
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
