{% extends 'base.html.twig' %}

{% block title %}Gestion des intérimaires{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gestion des intérimaires</h1>

    <div id="actions" style="margin: 10px;">
        <a href="{{ path('interim/new') }}" class="btn btn-primary" role="button"   >Nouvel intérimaire</a>
    </div>


    <table class="table">
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">E-mail</th>
            <th scope="col">Code postal</th>
            <th scope="col">Ville</th>
            <th scope="col">Actions</th>
        {% for interim in interims %}
            <tr>
                <td scope="row">{{ interim.id }}</td>
                <td>{{ interim.name }} {{ interim.surname }}</td>
                <td>{{ interim.mail }}</td>
                <td>{{ interim.zipCode }}</td>
                <td>{{ interim.city }}</td>
                <td>
                    <a href="{{ path('interim/update', {'interim' : interim.id}) }}" class="btn btn-primary" role="button">Modifier</a>
                    <a href="{{ path('interim/delete', {'interim' : interim.id}) }}" class="btn btn-primary" role="button">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        </table>
</div>
{% endblock %}
